@inject IAuthenticationService AutService;

<div class="window" style="width: 300px">
  <div class="title-bar">
    <div class="title-bar-text">Dashboard</div>
    <div class="title-bar-controls">
      <button aria-label="Minimize"></button>
      <button aria-label="Maximize"></button>
      <button aria-label="Close"></button>
    </div>
  </div>
  <div class="window-body">
    <p>Dashboard...</p>
    <p>
      <a href="#" @onclick="@Logout">Logout</a>
    </p>  
  </div>
</div>

@code
{
  #region Properties
  [Parameter]
  public EventCallback<string> OnLogout { get; set; }    
  #endregion  

  #region Methods
  private async void Logout()
  {
    await AutService.EndSession();
    await OnLogout.InvokeAsync("logging out...");
  }    
  #endregion  
}
