@using System.ComponentModel.DataAnnotations;
@inject IAuthenticationService AuthService;
@inject NavigationManager NavigationManager;

<div class="window" style="width: 300px">
  <div class="title-bar">
    <div class="title-bar-text">Login</div>
    <div class="title-bar-controls">
      <button aria-label="Minimize"></button>
      <button aria-label="Maximize"></button>
      <button aria-label="Close"></button>
    </div>
  </div>
  <div class="window-body">
    <EditForm Model="@Credentials" OnValidSubmit="Login">
      <DataAnnotationsValidator />
      <section class="field-row-stacked">
        <div class="field-row-stacked" style="width: 100%">
          <label for="Username">Username</label>
          <InputText @bind-Value="@Credentials.Username" id="Username" type="text" />
          <ValidationMessage For="@(() => Credentials.Username)" />
        </div>
        <div class="field-row-stacked" style="width: 100%">
          <label for="Password">Password</label>
          <InputText @bind-Value="@Credentials.Password" id="Password" 
            type="password" />
          <ValidationMessage For="@(() => Credentials.Password)" />
        </div>
      </section>      
      <section class="field-row-stacked">
        <button type="submit">Log In</button>
      </section>
    </EditForm>
    @if (!string.IsNullOrEmpty(Errors)) {
      <section class="field-row-stacked">
        <p>
          @Errors
        </p>
      </section>      
    }
  </div>
</div>

@code {
  #region Fields
  private LoginModel _creds = new LoginModel();
  private string _errors = string.Empty;    
  #endregion

  #region Properties
  private LoginModel Credentials { get { return _creds; } }    
  private string Errors { get { return _errors; } }

  [Parameter]
  public EventCallback OnLoginSuccess { get; set; }
  #endregion

  #region Methods
  private async void Login()
  {
    _errors = string.Empty;
    bool isAuthentic = await AuthService.IsAuthenticAsync(this.Credentials);
    
    if (isAuthentic)
    {
      await AuthService.StartSession();
    }
    else
      _errors = "Invalid username/password";

    await OnLoginSuccess.InvokeAsync(string.Empty);
  }    
  #endregion
  
}