﻿@page "/"
@inject IAuthenticationService AuthService

@if (!this.IsLoggedIn) {
  <LoginForm OnLoginSuccess="Reinit" />
} else {
  <Dashboard OnLogout="Reinit" />
}

@code {
  private bool _isLoggedIn;

  public bool IsLoggedIn { get { return _isLoggedIn; } }

  private async void Reinit()
  {
    SessionModel session = await AuthService.GetSession<SessionModel>();
    _isLoggedIn = await AuthService.IsAuthenticAsync(session);
    StateHasChanged();       
  }

  protected override async Task OnInitializedAsync()
  {
    SessionModel session = await AuthService.GetSession<SessionModel>();
    
    if (session.Token == string.Empty)
      _isLoggedIn = await AuthService.IsAuthenticAsync(session);
    else
      _isLoggedIn = false;
  }
}